@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

/* Body Styling */
body {
  font-family: "Jost", sans-serif;
  color: #000000;
  margin: 0;
  padding: 0;
}

/* Background Colors */
.lightPink {
  background-color: #ffdedf;
}

.pink {
  background-color: #ff9a9f;
}

.darkPink {
  background-color: #ff7e86;
}

/* Text Colors */
.salmon {
  color: #ff0000;
}

.black {
  color: #000000;
}

/* Home Page- Hero Section Styling */

.heroBg {
  background: linear-gradient(0deg, rgba(255, 126, 134, 0.7), rgba(255, 126, 134, 0.4)), url("./images/hero.png");
  width: 100%;
  height: 20rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.heroTextBg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

/* Home Page - Promo Section styling */

.promoContainer {
  position: relative;
}

.promoImage {
  display: block;
  width: 100%;
  height: auto;
}

.promoOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: #ff7e86;
}

.promoText{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.promoContainer:hover .promoOverlay {
  opacity: 0.5;
  cursor: pointer;
}

/* Home Page - Products Navigation - Pill Items styling */

.nav-pills .nav-link {
  color: #ff0000;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #ff7e86;
}

/* Navbar - Dropdown Menu Styling */

.navbar-nav .dropdown-menu {
  background-color: #212429;
  border: none;
}

div.dropdown-menu.show {
  padding-left: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

/* About Page - Location Section styling */
.aboutContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 
}

.aboutItem {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}